<div class="conteneur">
  <div class="main">
    <div class="aside"></div>
    <div class="article">
      <header>
        <h1>Titre article</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate est nam praesentium sint vitae! Accusantium atque fugiat magnam nihil pariatur temporibus? Adipisci at, consectetur culpa eligendi ex necessitatibus praesentium voluptatum?</p>
      </header>
    </div>
    <div class="article">
      <header>
        <h1>Titre2 article</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga hic perferendis placeat. Ab aut doloremque eius, et id illo, ipsum iure laudantium minus nisi possimus ratione reprehenderit similique unde voluptatem!</p>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-3 ">kjlhdslfkjh</div>
    <div class="col-3">kjlhdslfkjh</div>
    <div class="col-3">kjlhdslfkjh</div>
    <div class="col-3">kjlhdslfkjh</div>
  </div>
  <div class="row text-center">
    <div class="col-3">kjlhdslfkjh</div>
    <div class="col-3">kjlhdslfkjh</div>
    <div class="col-3">kjlhdslfkjh</div>
    <div class="col-3">kjlhdslfkjh</div>
  </div>
</div>
