.conteneur {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto
}

.main {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 20px;
}

.aside {
  flex: 2;
}

.article {
  flex: 4;
  padding: 10px;
}

.nav {
  flex: 1;
}
