<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <nav class="navbar navbar-expand-md    navbar-light bg-light">
      <ul class="navbar-nav">
        <li routerLinkActive="nav-item active" ><a class="nav-link" routerLink="auth">authentification</a></li>
        <li routerLinkActive="nav-item active" ><a class="nav-link" routerLink="appareils">appareils</a></li>
      </ul>
  </nav>
</div>
<div class="container">
  <div class="row">
    <!--<app-appareil-view></app-appareil-view>-->
    <router-outlet></router-outlet>
  </div>
</div>

<!--
première option simple:
    <app-appareil appareilName="Machine à laver"></app-appareil>
    <app-appareil appareilName="Frigo"></app-appareil>
    <app-appareil appareilName="Ordinateur"></app-appareil>

puis par le Typescript:
    <app-appareil [appareilName]="appareilOne" [appareilStatus]="'allumé'"></app-appareil>
    <app-appareil [appareilName]="appareilTwo" [appareilStatus]="'éteint'"></app-appareil>
    <app-appareil [appareilName]="appareilThree" [appareilStatus]="'allumé'"></app-appareil>
-->
